language: python
dist: xenial
sudo: true
python:
  - "3.8"
  - "3.9"
env:
  global:
    - DATABASE_URL="sqlite:///:memory"
    - DJANGO_SETTINGS_MODULE=teamtemp.settings.dev
install:
  - pip install -U pip
  - pip install -U setuptools wheel
  - pip install -U coveralls
  - pip install -r requirements/dev.txt
  - pip install -U codeclimate-test-reporter
  - python manage.py migrate --no-input
  - python manage.py collectstatic --no-input
script:
  - coverage run manage.py test
after_success:
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - chmod +x codecov
  - ./codecov -t ${CODECOV_TOKEN}
  - coveralls
  - codeclimate-test-reporter
  - pip list -o
