Django[bcrypt]==6.0.2
django-bootstrap3==26.1
dj-database-url==3.1.1
dj-static==0.0.6
django-admin-csvexport==2.4.1
django-csp==4.0
#django-csp-reports==1.9.0
crispy-bootstrap3==2024.1
django-crispy-forms==2.5
django-filter==25.2
djangorestframework==3.16.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.1.1
gunicorn==25.0.3
gviz_api==1.10.0
psycopg2-binary==2.9.11
static==1.1.1
whitenoise[brotli]==6.11.0
pygments==2.19.2
wordcloud==1.9.6
django-admin-csvexport==2.4.1
markdown==3.10.2
PyYAML==6.0.3
uritemplate==4.2.0
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests==2.32.5
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
tzdata==2025.3
urllib3>=2.6.3
