Django[bcrypt]==5.2.7
django-bootstrap3==25.2
dj-database-url==3.0.1
dj-static==0.0.6
django-admin-csvexport==2.3
django-csp==4.0
#django-csp-reports==1.9.0
crispy-bootstrap3==2024.1
django-crispy-forms==2.4
django-filter==25.1
djangorestframework==3.16.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.10.1
gunicorn==23.0.0
gviz_api==1.10.0
psycopg2-binary==2.9.10
static==1.1.1
whitenoise[brotli]==6.11.0
pygments==2.19.2
wordcloud==1.9.4
django-admin-csvexport==2.3
markdown==3.10
PyYAML==6.0.3
uritemplate==4.2.0
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests==2.32.5
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
tzdata==2025.2
